# Stripe Configuration
# Get your keys from https://dashboard.stripe.com/apikeys
STRIPE_PUBLIC_KEY=pk_test_YOUR_PUBLIC_KEY_HERE
STRIPE_SECRET_KEY=sk_test_YOUR_SECRET_KEY_HERE

# Base URL for Stripe redirects
BASE_URL=https://onescript-five.vercel.app

# EmailJS Configuration
EMAILJS_SERVICE_ID=service_kiuxijv
EMAILJS_TEMPLATE_ID=template_37cc9eo
EMAILJS_PUBLIC_KEY=9IFBv8D5o7NBxRjbq

# Discord
DISCORD_LINK=https://discord.gg/cU2kNQxxHu
